/* black - #191716 */
/* white - #e0e2db */
/* yellow - #e6af2e */
/* gray - #beb7a4 */



/*  -- glonal -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}





/*  ---- navbar ---- */
/*  for mobile phones */

nav ul {
    list-style-type: none;
    border-top: 6px solid #e6af2e;
    background-color: #191716;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 20px;
    padding:  15px 25px;
    color: #e6af2e;
}

nav ul li a:hover {
    color: #e0e2db;
}

.logo {
    display: flex; /* ლოგო გამოყო ისრისგან*/
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #191716;
    background-color: #e6af2e;
    font-style: italic;
}

.logo:hover {
    background-color: #e0e2db;
    color: #e6af2e;
}



/*  for tablets and desktops */
@media screen and (min-width: 576px) {
    nav ul {
        display: flex;
        flex-wrap: wrap; /* ფანჯრის შევიწროების დროს კონტენტის გადატანა */
        align-items: baseline; /* ჰორიზონტალურ ხაზზე გასწორდება */
        justify-content: space-between; 
    }

    nav ul li {
        flex: 1 0 auto;
    }

    .logo {
        display:block;
        text-align: center;  
    }

    .logo .fa {
        display:none;
    }
}

/* --- END navbar --- */




/* --- Banner --- */
 #banner {
     min-height: 90vh;
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(img/banner5.jpg) no-repeat center fixed  / cover;
      display: flex;
      align-items: center;        /* on vert. line */
      justify-content: center;   /* on horiz. line */
 }

 .banner-text {
     font-size: 3.2rem;
     text-transform: uppercase;
     color: #dcdbe2;
     font-style: italic;
 }

.banner-underline {
    border: 3px solid #837f7f;
    width: 16rem;
    margin: 5px auto 20px auto;
}

.banner-btn {
    display: flex;
    justify-content: space-between;
}

.banner-btn button {
    font-size: 1.9rem;
    text-transform: uppercase;
    padding: .5rem;
    margin: 0 10px;
    background-color: transparent;
    color: #e6af2e;
    border: 2px solid #e6af2e;
}

.banner-btn button:hover {
    color: #e0e2db;
    background: #e6af2e;
}

/* --- END Banner --- */




/* --- Skills section --- */
/*  for mobile phones  */
#skills {
    padding: 3.7rem 0;
    background-color: #beb7a4;
}

.skills-container {
    max-width: 95vw;
    margin: 0 auto;  
}

.skills-item {
    text-align: center;
    margin: 20px 0;
}

.skills-item .fa, .far, .fas {
    color: #191716;
    font-size: 3.7rem;
}

.skills-item h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 30px 0;
    text-transform: uppercase;
    color: #ff9100;
}

.skills-item p {
    color: #e0e2db;
    width: 75%;
    margin: 0 auto;
}


/* for tablets */
@media screen and (min-width:576px) {
    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
}


/* for desktops */
@media screen and (min-width:992px) {
    .skills-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.4rem;
    }
}

/* --- END Skills section --- */







/* --- Services Section --- */
#services {
    min-height: 100vh;
    min-height: 90vh;
    background: url(img/services.jpg) no-repeat center fixed  / cover;
    padding: 1.2rem 0 5rem 0;

}

.services-container {
    max-width: 90vw;
    margin: 0 auto;
    color: #e0e2db;
}



/* --- Service Section - title ---*/
.title {
    margin: 3.4rem 0;
}

.title-text {
    text-align: center;
    font-size: 2.7rem;
    font-style: italic;
    text-transform: uppercase;
    color: #e0e2db;
}

.title-underline {
    border: 3px solid #e6af2e;
    width: 16rem;
    margin: 0 auto;
}
/* --- END Service Section - title ---*/

/* -- single service -- */
.service-item {
    overflow: hidden;     /* რათა ქვემოთ .back-text-ს 15em-ით რომ დავწევთ არ გადაფაროს/გადაკვეთოს კონტეინერი */
    position: relative;  /* აქ მივუთითეთ position: relative;, და ქვემოთ .back-text მივუთითეთ  position: absolute რათა მშობელ კონტეინერში (.service-item) თავისუფლად გადავაადგილოთ*/
    padding: 4rem;
}

.service-item:hover .front-text {
    transform: translateY(-200px);
}

.service-item:hover .back-text {
    bottom: 0;
}


.front-text {
    text-align: center;
    transition: transform 2s;
}

.back-text {
    position: absolute;
    bottom: -15em;
    width: 75%;
    margin: 0 auto;
    height: 100%;
    transition: bottom 2s;
    padding: 30px 0;
}

.service-item .fas {
    font-size: 4rem;
    margin-bottom: 1.9rem;
    color: #e6af2e;
}

.service-item-black {
   background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
}


.service-item-white {
   background:  linear-gradient(rgba(206, 208, 206, 0.6), rgba(206, 208, 206, 0.6));
   color: #191716;
}


.back-text h1 {
    margin-bottom: 20px;
}

.back-text button {
    margin-top: 20px;
    padding:10px 20px;
    background: transparent;
    border: 2px solid #e6af2e;
    font-size: 20px;
    color:#e6af2e;
}

.back-text button:hover {
    background-color: #e6af2e;
    color: #191716;
}

.service-item-white button {
    background: #e6af2e;
    color: #191716
}

.service-item-white button:hover {
    background: #191716;
    border-color: #191716;
    color: #e6af2e;
}
/* -- END single service -- */

/* -- for large screen tablets an desktops  */

@media screen and (min-width:776px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* ადგილების შეცვლა - ბოლო ორს (3,4) შევუცვალეთ ადგილები, რათა ჭადრაკის დაფის ეფექტი მიგვეღო */
    /* The :nth-of-type(n) selector matches every element that is the nth child, of a particular type, of its parent.
       n can be a number, a keyword, or a formula. */
    .services-container .service-item:nth-of-type(1) {
        order:1
    }
    .services-container .service-item:nth-of-type(2) {
        order:2
    }
    .services-container .service-item:nth-of-type(3) {
        order:4
    }
    .services-container .service-item:nth-of-type(4) {
        order:3
    }
}

/* ---END Services Section --- */










/* --- PROJECTS section --- */
/* --- for mobiles --- */

#projects .title-text {
    color: #191716;
}

#projects .title-underline {
    border: 3px solid rgb(60, 60, 150);
}

#projects {
    padding: 20px 0 80px 0;
    background-color: #e0e2db;
}

.projects-container {
    max-width: 90vw;
    margin: 0 auto;
}

.projects-item {
    position: relative;      /* რათა შიგთავსი ტექსტი ნებისმიერ ადგილას განვათავსოთ - ტექსტს ვუთითებთ: position:absolute */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    color: #e0e2db;
    overflow: hidden;
    margin: 20px 0;
}

#projects img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 4s;
}

.img-text {
    /* დაცენტრება - ქვემოთ ოთხივე ხაზი */
    position: absolute;
    top: 50%;                                 
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
}

.img-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    padding: 10px;
    font-size: 1.2rem;
    color: #e6af2e;
    transition: opacity 4s;
}

.img-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.img-text h6 {
    font-size: 1.3rem;
}

.projects-item:hover img {
    opacity: 0.4;
    transform: scale(1.3);
}

.projects-item:hover .img-text,
.projects-item:hover .img-footer {
    opacity: 1;
}

#projects .far {
    font-size: 100%;
    color:#e6af2e;
}



/* --- for tablets --- */
@media screen and (min-width: 576px) {
    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
}

/* --- for desktops --- */
@media screen and (min-width: 992px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1rem;
    }

    .img-text h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    
    .img-text h6 {
        font-size: 1rem;
    }
}

/*  --- END PROJECTS section ---  */







/* --- Filler Section --- */

#filler-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url(img/filler.jpg) no-repeat center fixed / cover;
     display: flex;
     align-items: baseline;
     justify-content: space-between;   /* on horiz. line */
     flex-wrap: wrap;
     padding: 4rem;
}

#filler-contact h1 {
    font-size: 2.5rem;
    color: #e0e2db;
    text-transform: uppercase;
    margin: 0px auto 15px auto;
}

#filler-contact button {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #e6af2e;
    border: 2px solid #e6af2e;
    padding: 10px 15px;
    background: transparent;
    margin: 0 auto;
}

#filler-contact button:hover {
    background: #e6af2e;
    color: #191716;
}

#filler-contact h1 span {
    color: red;
    font-size: 4rem;
}

/* --- END Filler Section --- */








/* ---  Post Section --- */
/*  -- for mobiles -- */
#posts {
    background: #beb7a4;
    padding: 20px 0 80px 0;
}

.post-container {
    max-width: 90vw;
    margin: 0 auto;
}

.post-item {
    background-color: #e0e2db;
    color: #191716;
    margin: 20px 0;
}

#posts img {
    width: 100%;
    display: block;
}

.img-container {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.img-container .fas {
    /* დაცენტრება - ქვემოთ ოთხივე ხაზი */
    position: absolute;
    top: 50%;                                 
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 3.1rem;
    color: #e6af2e;
    transition: opacity 3s;
    opacity: 0;
}

.img-container:hover img{
    opacity: 0.4;
}

.img-container:hover .fas{
    opacity: 1;
}

.text-container {
    padding: 10px 5px 30px 5px;
}

.text-container p {
    margin: 15px 0 25px 0;
}

.text-container a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    border: 2px solid #e6af2e;
    color: #e6af2e;
    margin-bottom: 20px;
}

.text-container a:hover {
    background-color: #191716;
    border-color: #191716;
}


/* --- for tablets --- */
@media screen and (min-width: 576px) {
    .post-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
}

/* --- for desktops --- */
@media screen and (min-width: 992px) {
    .post-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1rem;
    }

/* --- END  Post Section --- */








/* --- Footer --- */
footer {
    background-color: #191716;
    padding: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}


 .footer-text {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #e0e2db;
    margin-bottom: 10px;
}

.footer-icons {
   font-size: 1.9rem;
}

.footer-icons .fab {
    margin-right: 10px;
    color: #e0e2db;
    transition: transform 2s;
}

.footer-icons .fab:hover {
    color: #e6af2e;
    transform: translateY(-10px);
}

/* --- END Footer --- */
